@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .outlined {
    border: 0.1rem solid red;
  }

  .flexed {
    display: flex;
  }
  .centered {
    justify-content: center;
    align-items: center;
  }
  .spaced {
    justify-content: space-around;
  }
  .vertical {
    flex-direction: column;
  }
  .horizontal {
    flex-direction: row;
  }

  .max-wide {
    width: 100%;
  }

  .max-content {
    width: max-content;
    height: max-content;
  }

  .wide-pad {
    padding: 2rem 4rem
  }
  .tall-pad {
    padding: 4rem 2rem;
  }
}
